<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="jquery.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="formLogin">
            <h1>Nhập vào tên người chơi:</h1>
            <input type="text" id="userName">
            <input type="button" value="bắt đầu" id="sendUser">
        </div>

        <div id="conten">
            <div id="formApp">
                <h1>Game Cờ Caro</h1>
                you: <span id="nameApp"></span>
            </div>

            <div id="formChat">
                <h1>Chat<input type="button" value="logout" id="btn-out"></h1>
                
                <textarea rows="30" cols="50" disabled ></textarea>
                <input type="text" id="a">
                <button id="btn">send</button>
            </div>
        </div>

        <script src="javascript.js"></script>
    </body>
</html>