*{
     margin: 0;
     padding:0;
}

#content {
    margin: 35px;
}
#formLogin {
    text-align: center;
    margin: 30px;
}
#formLogin h1 {
    padding: 30px;
}
#formLogin h1 {
    padding: 30px;
}
#formLogin #userName {
    width: 250px;
    height: 25px;
}
#formLogin #sendUser {
    height: 30px;
    width: 50px;
}
#formApp{
    text-align: center;
     margin-left: 119px;
     float: left;
}

#formChat{
    margin: 32px 100px 0 0;
    width: 500px;
    float: right;          
}
textarea {
    resize: none;
}
#btn {
    height: 30px;
    width:70px;
}
#a {
    height: 25px;
    width: 340px;
}
#btn-out{
    float: right;
    height: 30px;
    width:70px;
}